
<div class="text-center">  
	<h1>About this project</h1>
	<br>
</div>

<p>
	Originally this was a project to develop a web application that utilizes a database. To
	make things interesting, I decided to incorporate real salary data from my university, 
	The University of Georgia, into the project. This was the result. My teacher's salary 
	was included in the database; however, I let the mystery ran its course. For those who
	are curious about what their teachers or peers are making, this application is now live.
</p>