
<div class="text-center">  
	<h1>About this project</h1>
	<br>
</div>

<p>
	Originally this was a class project to develop a web application that utilizes a database management system. To make things interesting, I decided to incorporate real salary data from my university, The University of Georgia, into the database. What is before you is a remake of my old project using a completely different stack. This version aims to include more universities as well as a nice design for ease of use.
</p>
<br>

<p>
	P.S. I never showed my teacher what his salary was in front of the class. I leave the mystery unsolved to all who are curious.
</p>