
<body class="employee-body">
<div class="text-center about">  
	<h1>About This Project</h1>
	<br>
</div>

<div>
<p class="about-paragraph">
	Originally this was a class project focusing on database design. To make things interesting, I decided to incorporate real salary data from my university, The University of Georgia. This version aims to include more universities and to be easier to use.
</p>
<br>
</div>
</body>