// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.employee-body {
	background-color: #ffffff;
}

.employee-body h1 {
		color: #519add; // text color
}

.table th, td {
  text-align: center;   
}

.about {
	color: blue;
}

.p-required {
	color: #e73b21;
}