<!--
<footer class="footer navbar navbar-bottom">
  <nav>
    <div class="container">
      <small>
      <a href="http://www.railstutorial.org/book">Learn Ruby on Rails</a>
      </small>
    </div>
  </nav>
</footer>
-->